{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}ArticleS{% endblock %}
{% block article %}

    <div class="large-8 ">
        {% for article in articles %}
            <h6>Date of publish: {{ article.article_date }}</h6>
            <h4><a href="/articles/get/{{ article.id }}">{{ article.article_title }}</a></h4>
            <p>{{ article.article_text }}</p>
            <p>
                <a href="/articles/addlike/{{ article.id }}">
                   <img src="{% static 'like.png' %}" alt="" width="17px" height="17px">
                </a>
                {{ article.article_likes }} likes
            </p>
            <hr>
        {% endfor %}
    </div>


{% endblock %}