{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}Article{% endblock %}
{% block article %}

    <h4>{{ article.article_date }}</h4>
    <h2>{{ article.article_title }}</h2>
    <p>{{ article.article_text }}</p>

    <hr>

    <div class="large-offset-1 large-8">
        <p>Comments:</p>

        {% for comment in comments %}
            <p>{{ comment.comment_text }}</p>
        {% endfor %}

        {% if username %}
            <form action="/articles/addcomment/{{ article.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button" value="Add comment">
            </form>
        {% endif %}

    </div>


{% endblock %}