{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Django-Angular</title>

    <link rel="stylesheet" href="{% static 'chat/libs/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body ng-app="chatApp">

    <div class="page-header">
        <h2>Chat application based on Django and Angular by Romis</h2>
    </div>

    <div ng-view class="container"></div>


    <script src="{% static 'chat/libs/angular/angular.min.js' %}"></script>
    <script src="{% static 'chat/libs/angular-route/angular-route.js' %}"></script>

    <script src="{% static 'chat/scripts/app.js' %}"></script>
    <script src="{% static 'chat/scripts/controllers/chat-room.js' %}"></script>
    <script src="{% static 'chat/scripts/controllers/chat-rooms.js' %}"></script>

    <script src="{% static 'chat/scripts/services/chat-room.js' %}"></script>
    <script src="{% static 'chat/scripts/services/messages.js' %}"></script>
    <script src="{% static 'chat/scripts/services/webservice.js' %}"></script>
</body>
</html>