{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}LogIN{% endblock %}
{% block login %}

    <div class="large-offset-3 large-6 columns">
        <form action="/auth/login/" method="post">
            {% csrf_token %}

            <label for="username">User's name:</label>
            <input type="text" name="username" id="username">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password">

            {% if login_error %}
                <label for="" class="error">{{ login_error }}</label>
            {% endif %}

            <input type="submit" value="Log in" class="button">
            <a href="/auth/register/" class="button">Register</a>
        </form>
    </div>
{% endblock %}