{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}Registration{% endblock %}
{% block login %}

    <div class="large-offset-3 large-6 columns">
        <form action="/auth/register/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Register">
        </form>
    </div>

{% endblock %}
