<!--All chat rooms-->

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <label for="select-room">Select chat room</label>
                <select id="select-room" ng-model="selectedChatRoom" ng-options="chatRoom.name for chatRoom in chatRooms" class="form-control"></select>
            </div>

            <div class="col-md-2">
                <br>
                <button ng-click="selectChatRoom(selectedChatRoom)" class="btn btn-success">
                    Select chat room
                </button>
            </div>
        </div>
    </div>

    <br><br><br><br><br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <label for="select-room">Create new chat room</label>
                <input type="text" class="form-control" ng-model="chatRoom.name" placeholder="To create new chat room enter her name and press button">
            </div>
            <div class="col-md-2">
                <br>
                <button ng-click="createChatRoom(chatRoom)" class="btn btn-success">
                    Create new chat room
                </button>
            </div>
        </div>
    </div>
</div>