{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}Main page{% endblock %}
{% block article %}

    <div class="container">
        <div class="content main-page">
            <h1>
                Romis
            </h1>
            <h3><a href="/articles">Go to  django based blog</a></h3>
            <h3><a href="/chat/#/chat-rooms">Go to angular-django based chat (need authorization)</a></h3>
        </div>
    </div>
{% endblock %}
