{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Romis's Django project - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>

    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
            <ul class="right">
                <li>
                    <a href="/">Go home</a>
                </li>
                <li>
                    {% if username %}
                        <a href="/auth/logout">LogOUT ({{ username }})</a>
                    {% else %}
                        <a href="/auth/login">LogIN</a>
                    {% endif %}
                </li>
            </ul>
        </section>
    </nav>


    <div class="row">
        {% block article %} {% endblock %}
        {% block login %} {% endblock %}
    </div>


</body>
</html>